@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;
}

#root {
  background-color: #121212; /* Replace with your desired background color */
  font-family: system-ui, sans-serif;
  line-height: 1.4;
  font-size: 18px;
  margin: 0; /* Optionally, remove default margin */
  padding: 0; /* Optionally, remove default padding */
  overflow: auto;
}

.main {
  padding: calc(2em + 5vw) 10vw 8vw 10vw;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: flex-start; /* Align to the bottom vertically */
  height: 95vh; /* Make the div occupy the full viewport height */
  margin: 0; /* Reset default margin */
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 1em !important;

  opacity: 0; /* Hidden by default */
  animation: fade-in 0.5s ease-in-out forwards; /* Animation properties */
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* left bit of navbar */
.nav-left {
  width: 60%;
}
.name {
  padding-left: 0 !important;
  font-weight: bold !important;
}
/* end left bit of navbar */

/* right bit of navbar */
.nav-right {
  width: 40%;
}

/* end right bit of navbar */

.homepage {
  display: flex;
  width: 80%;
  justify-content: flex-start; /* Align to the bottom vertically */
  height: 100vh; /* Make the div occupy the full viewport height */
  margin: 0; /* Reset default margin */
}

.about {
  width: 100%;
  opacity: 0; /* Hidden by default */
  animation: fade-in 0.5s ease-in-out forwards; /* Animation properties */
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* basic tag styling */
p {
  color: white;
}

h1 {
  color: white !important;
}

.homepage a {
  text-decoration: none !important;
  margin-left: 5px;
  margin-right: 2.5px;
}

.homepage a:after {
  content: "\2197"; /* top right arrow: ↗ */
}

.head {
  font-weight: bold;
}

/* Inline footnotes */
label {
  cursor: pointer;
  vertical-align: super;
  line-height: 1;
  font-size: 0.75em;
  padding-left: 0.1em;
  margin-right: 5px;
}

label:hover {
  color: var(--highlight);
}

label:before {
  content: "[";
}
label:after {
  content: "]";
}

label + input,
label + input + small {
  display: none;
}

input:checked + small {
  display: block;
  padding: 0.8em 0 1em 2.5vw;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  position: fixed;
  height: 5vh;
  width: 100%;
  background-color: #222;
  /* border-top: 0.125vh solid #113fee; */
}

.footer a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .nav-item {
  height: 3vh;

  margin: 1vh 1vh 1vh 1vh;
}

.footer img {
  display: inline-block;
  height: 3vh;
  width: 3vh;
}
