html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Helvetica" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 548px) {
  #root {
    height: 95%;
  }

  .about {
    height: 85% !important;
    margin-bottom: 20% !important;
    position: fixed;
  }

  .about.summary {
    flex-direction: column;
    margin-bottom: 0 !important;
    height: 100% !important;
    width: 100%;
    position: fixed;
  }

  .about.text {
    height: 100% !important;
    width: 95% !important;
    margin-bottom: 35% !important;
    position: fixed;
  }

  .about.img {
    display: None;
  }

  .about h2 {
    font-size: 150% !important;
  }

  .about p {
    font-size: 120% !important;
  }
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about.summary {
  /* display: flex; */
  align-items: center;
  justify-content: space-evenly;
  width: 75%;
  background: whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  gap: 0%;
}

.about.img {
  width: 50%;
  height: 40vw;
}

.about img {
  width: 75%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.about.text {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about.text h2 {
  text-decoration: underline;
  font-size: 2vw;
}

.about.text p {
  font-size: 1.25vw;
  width: 100%;
  word-wrap: break-word; /* or use overflow-wrap: break-word; for better browser compatibility */
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2vw;
  padding-top: 2vw;
}

.title h1 {
  font-weight: 700;
  margin-bottom: 0px;
}

.work {
  padding-left: 0.5rem;
  margin-left: 10%;
  margin-right: 10%;
}

.work h2 {
  font-weight: 700;
  margin-bottom: 0rem;
}

.work h3 {
  font-style: italic;
  margin-bottom: 0px;
}
.work li {
  margin-bottom: 0rem;
}
.work.date {
  font-style: italic;
  font-size: 90%;
  margin-left: 0rem;
  padding-left: 0rem;
  margin-bottom: 0rem;
  margin-top: -10px;
}

.work.cfrl.description {
  color: blue;
  padding-left: 0px;
  margin-top: 0.1em;
  margin-left: 0%;
}

.italic.link {
  text-decoration: none;
  font-style: italic;
  color: black;
}
